@model Model.ViewModels.FilmListVM
@using Model

@{
    ViewBag.Title = "FilmListView";
    Session["filmListe"] = Model;
}

<div class="container filmListeBar d-flex flex-wrap align-items-end">
    <div class="p-2">
        <h2>@Html.DisplayFor(model => model.HeadLine)</h2>
    </div>
    <div class="p-2 ml-1">
        <p>- @Html.DisplayFor(model => model.SortingText)</p>
    </div>
    <div class="p-2 ml-auto mb-2 dropdown bg-dark">
        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownSorter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sorter</button>
        <div class="dropdown-menu bg-dark" aria-labelledby="dropdownSorter">
            @Html.ActionLink("Etter pris, stigende", "FilmListView", "Film", new { sorting = Sort.pris }, new { @class = "dropdown-item" })
            @Html.ActionLink("Etter pris, synkende", "FilmListView", "Film", new { sorting = Sort.prisHøy }, new { @class = "dropdown-item" })
            @Html.ActionLink("Alfabetisk", "FilmListView", "Film", new { sorting = Sort.alfa }, new { @class = "dropdown-item" })
            @Html.ActionLink("Tilfeldig", "FilmListView", "Film", new { sorting = Sort.tilf }, new { @class = "dropdown-item" })
        </div>
    </div>
</div>
<hr class="mt-0 pt-0 pb-2" />

<div class="row no-gutters">
    @foreach (var film in Model.Films)
    {
        @Html.Partial("filmThumb", film)
    }
</div>